<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="SqlServerVersionStringMap" type="Ciroque.DevOps.Utilities.SystemUpdatesGatherer.Configuration.SqlServerVersionDefinitionSection, SystemUpdatesGatherer"/>
    <section name="TargetSqlServers" type="Ciroque.DevOps.Utilities.SystemUpdatesGatherer.Configuration.TargetSqlServerSection, SystemUpdatesGatherer"/>
    <section name="TargetWindowsServers" type="Ciroque.DevOps.Utilities.SystemUpdatesGatherer.Configuration.TargetWindowsServerSection, SystemUpdatesGatherer"/>
  </configSections>

  <appSettings>
    <add key="OutputFilename" value="ServerUpdatesReport.csv"/>
  </appSettings>

  <TargetWindowsServers>
    <WindowsServers>
      <targetServer serverName="localhost"/>
      <targetServer serverName="Alaunus"/>
    </WindowsServers>
  </TargetWindowsServers>

  <TargetSqlServers>
    <Servers>
      <targetServer serverName="localhost" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=master;Data Source=localhost"/>
    </Servers>
  </TargetSqlServers>

  <SqlServerVersionStringMap>
    <Versions>
      <version versionString="11.0.2325.0" versionName="SQL Server 2012 CU-2"/>
      <version versionString="11.0.2316.0" versionName="SQL Server 2012 CU-1"/>
      <version versionString="11.0.2100.60" versionName="SQL Server 2012 RTM"/>
      <version versionString="11.0.1440.19" versionName="SQL Server 2012 CTP 3.0"/>
      <version versionString="10.50.4266.0" versionName="SQL Server 2008 R2 SP2 CU3"/>
      <version versionString="10.50.4263.0" versionName="SQL Server 2008 R2 SP2 CU2"/>
      <version versionString="10.50.4260.0" versionName="SQL Server 2008 R2 SP2 CU1"/>
      <version versionString="10.50.4000.0" versionName="SQL Server 2008 R2 SP2"/>
      
      <version versionString="10.50.2866.0" versionName="SQL Server 2008 R2 SP1 CU9"/>
      <version versionString="10.50.2822.0" versionName="SQL Server 2008 R2 SP1 CU8"/>
      <version versionString="10.50.2817.0" versionName="SQL Server 2008 R2 SP1 CU-7"/>
      <version versionString="10.50.2811.0" versionName="SQL Server 2008 R2 SP1 CU-6"/>
      <version versionString="10.50.2806.0" versionName="SQL Server 2008 R2 SP1 CU-5"/>
      <version versionString="10.50.2796.0" versionName="SQL Server 2008 R2 SP1 CU-4"/>
      <version versionString="10.50.2789.0" versionName="SQL Server 2008 R2 SP1 CU-3"/>
      <version versionString="10.50.2772.0" versionName="SQL Server 2008 R2 SP1 CU-2"/>
      <version versionString="10.50.2769.0" versionName="SQL Server 2008 R2 SP1 CU-1"/>
      <version versionString="10.50.2500.0" versionName="SQL Server 2008 R2 SP1"/>
      
      <version versionString="10.50.1817.0" versionName="SQL Server 2008 R2 RTM CU-14"/>
      <version versionString="10.50.1815.0" versionName="SQL Server 2008 R2 RTM CU-13"/>
      <version versionString="10.50.1810.0" versionName="SQL Server 2008 R2 RTM CU-12"/>
      <version versionString="10.50.1809.0" versionName="SQL Server 2008 R2 RTM CU-11"/>
      <version versionString="10.50.1807.0" versionName="SQL Server 2008 R2 RTM CU-10"/>
      <version versionString="10.50.1804.0" versionName="SQL Server 2008 R2 RTM CU-9"/>
      <version versionString="10.50.1797.0" versionName="SQL Server 2008 R2 RTM CU-8"/>
      <version versionString="10.50.1777.0" versionName="SQL Server 2008 R2 RTM CU-7"/>
      <version versionString="10.5.1765.0" versionName="SQL Server 2008 R2 RTM CU-6"/>
      <version versionString="10.5.1753.0" versionName="SQL Server 2008 R2 RTM CU-5"/>
      <version versionString="10.5.1746.0" versionName="SQL Server 2008 R2 RTM CU-4"/>
      <version versionString="10.5.1734.0" versionName="SQL Server 2008 R2 RTM CU-3"/>
      <version versionString="10.5.1720.0" versionName="SQL Server 2008 R2 RTM CU-2"/>
      <version versionString="10.5.1702.0" versionName="SQL Server 2008 R2 RTM CU-1"/>
      <version versionString="10.5.1600.0" versionName="SQL Server 2008 R2 RTM"/>
      <version versionString="10.00.5785.0" versionName="SQL Server 2008 SP3 CU-5"/>
      <version versionString="10.00.5775.0" versionName="SQL Server 2008 SP3 CU-4"/>
      <version versionString="10.00.5770.0" versionName="SQL Server 2008 SP3 CU-3"/>
      <version versionString="10.00.5768.0" versionName="SQL Server 2008 SP3 CU-2"/>
      <version versionString="10.00.5766.0" versionName="SQL Server 2008 SP3 CU-1"/>
      <version versionString="10.00.5500.0" versionName="SQL Server 2008 SP3"/>
      <version versionString="10.00.4332.0" versionName="SQL Server 2008 SP2 CU-10"/>
      <version versionString="10.00.4330.0" versionName="SQL Server 2008 SP2 CU-9"/>
      <version versionString="10.00.4326.0" versionName="SQL Server 2008 SP2 CU-8"/>
      <version versionString="10.00.4323.0" versionName="SQL Server 2008 SP2 CU-7"/>
      <version versionString="10.00.4321.0" versionName="SQL Server 2008 SP2 CU-6"/>
      <version versionString="10.00.4316.0" versionName="SQL Server 2008 SP2 CU-5"/>
      <version versionString="10.00.4285.0" versionName="SQL Server 2008 SP2 CU-4"/>
      <version versionString="10.00.4279.0" versionName="SQL Server 2008 SP2 CU-3"/>
      <version versionString="10.00.4272.0" versionName="SQL Server 2008 SP2 CU-2"/>
      <version versionString="10.00.4266.0" versionName="SQL Server 2008 SP2 CU-1"/>
      <version versionString="10.00.4000.0" versionName="SQL Server 2008 SP2"/>
      <version versionString="10.00.2850.0" versionName="SQL Server 2008 SP1 CU-16"/>
      <version versionString="10.00.2847.0" versionName="SQL Server 2008 SP1 CU-15"/>
      <version versionString="10.00.2821.0" versionName="SQL Server 2008 SP1 CU-14"/>
      <version versionString="10.00.2816.0" versionName="SQL Server 2008 SP1 CU-13"/>
      <version versionString="10.00.2808.0" versionName="SQL Server 2008 SP1 CU-12"/>
      <version versionString="10.00.2804.0" versionName="SQL Server 2008 SP1 CU-11"/>
      <version versionString="10.00.2799.0" versionName="SQL Server 2008 SP1 CU-10"/>
      <version versionString="10.00.2789.0" versionName="SQL Server 2008 SP1 CU-9"/>
      <version versionString="10.00.2775.0" versionName="SQL Server 2008 SP1 CU-8"/>
      <version versionString="10.00.2766.0" versionName="SQL Server 2008 SP1 CU-7"/>
      <version versionString="10.00.2757.0" versionName="SQL Server 2008 SP1 CU-6"/>
      <version versionString="10.00.2746.0" versionName="SQL Server 2008 SP1 CU-5"/>
      <version versionString="10.00.2734.0" versionName="SQL Server 2008 SP1 CU-4"/>
      <version versionString="10.00.2723.0" versionName="SQL Server 2008 SP1 CU-3"/>
      <version versionString="10.00.2714.0" versionName="SQL Server 2008 SP1 CU-2"/>
      <version versionString="10.00.2710.0" versionName="SQL Server 2008 SP1 CU-1"/>
      <version versionString="10.00.2531.0" versionName="SQL Server 2008 SP1"/>
      <version versionString="10.00.1835.0" versionName="SQL Server 2008 RTM CU-10"/>
      <version versionString="10.00.1828.0" versionName="SQL Server 2008 RTM CU-9"/>
      <version versionString="10.00.1823.0" versionName="SQL Server 2008 RTM CU-8"/>
      <version versionString="10.00.1818.0" versionName="SQL Server 2008 RTM CU-7"/>
      <version versionString="10.00.1812.0" versionName="SQL Server 2008 RTM CU-6"/>
      <version versionString="10.00.1806.0" versionName="SQL Server 2008 RTM CU-5"/>
      <version versionString="10.00.1798.0" versionName="SQL Server 2008 RTM CU-4"/>
      <version versionString="10.00.1787.0" versionName="SQL Server 2008 RTM CU-3"/>
      <version versionString="10.00.1779.0" versionName="SQL Server 2008 RTM CU-2"/>
      <version versionString="10.00.1763.0" versionName="SQL Server 2008 RTM CU-1"/>
      <version versionString="10.00.1600.0" versionName="SQL Server 2008 RTM"/>
      <version versionString="9.00.5266.0" versionName="SQL Server 2005 SP4 CU-3"/>
      <version versionString="9.00.5259.0" versionName="SQL Server 2005 SP4 CU-2"/>
      <version versionString="9.00.5254.0" versionName="SQL Server 2005 SP4 CU-1"/>
      <version versionString="9.00.5000.0" versionName="SQL Server 2005 SP4"/>
      <version versionString="9.00.4325.0" versionName="SQL Server 2005 SP3 CU-15"/>
      <version versionString="9.00.4317.0" versionName="SQL Server 2005 SP3 CU-14"/>
      <version versionString="9.00.4315.0" versionName="SQL Server 2005 SP3 CU-13"/>
      <version versionString="9.00.4311.0" versionName="SQL Server 2005 SP3 CU-12"/>
      <version versionString="9.00.4309.0" versionName="SQL Server 2005 SP3 CU-11"/>
      <version versionString="9.00.4305.0" versionName="SQL Server 2005 SP3 CU-10"/>
      <version versionString="9.00.4294.0" versionName="SQL Server 2005 SP3 CU-9"/>
      <version versionString="9.00.4285.0" versionName="SQL Server 2005 SP3 CU-8"/>
      <version versionString="9.00.4273.0" versionName="SQL Server 2005 SP3 CU-7"/>
      <version versionString="9.00.4266.0" versionName="SQL Server 2005 SP3 CU-6"/>
      <version versionString="9.00.4230.0" versionName="SQL Server 2005 SP3 CU-5"/>
      <version versionString="9.00.4226.0" versionName="SQL Server 2005 SP3 CU-4"/>
      <version versionString="9.00.4220.0" versionName="SQL Server 2005 SP3 CU-3"/>
      <version versionString="9.00.4211.0" versionName="SQL Server 2005 SP3 CU-2"/>
      <version versionString="9.00.4207.0" versionName="SQL Server 2005 SP3 CU-1"/>
      <version versionString="9.00.4035.0" versionName="SQL Server 2005 SP3"/>
      <version versionString="9.00.3356.0" versionName="SQL Server 2005 SP2 CU-17"/>
      <version versionString="9.00.3355.0" versionName="SQL Server 2005 SP2 CU-16"/>
      <version versionString="9.00.3330.0" versionName="SQL Server 2005 SP2 CU-15"/>
      <version versionString="9.00.3328.0" versionName="SQL Server 2005 SP2 CU-14"/>
      <version versionString="9.00.3325.0" versionName="SQL Server 2005 SP2 CU-13"/>
      <version versionString="9.00.3315.0" versionName="SQL Server 2005 SP2 CU-12"/>
      <version versionString="9.00.3301.0" versionName="SQL Server 2005 SP2 CU-11"/>
      <version versionString="9.00.3294.0" versionName="SQL Server 2005 SP2 CU-10"/>
      <version versionString="9.00.3282.0" versionName="SQL Server 2005 SP2 CU-9"/>
      <version versionString="9.00.3257.0" versionName="SQL Server 2005 SP2 CU-8"/>
      <version versionString="9.00.3239.0" versionName="SQL Server 2005 SP2 CU-7"/>
      <version versionString="9.00.3228.0" versionName="SQL Server 2005 SP2 CU-6"/>
      <version versionString="9.00.3215.0" versionName="SQL Server 2005 SP2 CU-5"/>
      <version versionString="9.00.3200.0" versionName="SQL Server 2005 SP2 CU-4"/>
      <version versionString="9.00.3186.0" versionName="SQL Server 2005 SP2 CU-3"/>
      <version versionString="9.00.3175.0" versionName="SQL Server 2005 SP2 CU-2"/>
      <version versionString="9.00.3161.0" versionName="SQL Server 2005 SP2 CU-1"/>
      <version versionString="9.00.3042.0" versionName="SQL Server 2005 SP2"/>
      <version versionString="9.00.2047.0" versionName="SQL Server 2005 SP 1"/>
      <version versionString="9.00.1399.0" versionName="SQL Server 2005 RTM"/>
      <version versionString="8.00.2273.0" versionName="SQL Server 2000 MS08-040"/>
      <version versionString="8.00.2187.0" versionName="SQL Server 2000 SP4 CU"/>
      <version versionString="8.00.2039.0" versionName="SQL Server 2000 SP4"/>
    </Versions>
  </SqlServerVersionStringMap>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
